* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    background: #2c3e50;
    color: #ecf0f1;
}

.detail-container {
    margin: 80px auto;
    padding: 0 50px;
}
