* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    background: #2c3e50;
    color: #ecf0f1;
}


@keyframes fadeIn {
    from { 
        opacity: 0; 
        transform: translateY(20px); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0); 
    }
}



.heroN {
    text-align: center;
    padding: 100px 20px;
    background: #34495e;
    animation: fadeIn 1s ease-in;
}

.heroN h2 {
    font-size: 48px;
    margin-bottom: 15px;
    color: #ecf0f1;
}

.heroN p {
    font-size: 20px;
    color: #e8cba0;
}

.categories {
    margin-top: 40px;
}

.categories form {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.bt {
    border: none;
    margin-right: 12px;
    padding: 10px 25px;
    border-radius: 9px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: #ecf0f1;
}

.fiction {
    background-color: #e67e22;
}

.fantasy {
    background-color: #9b59b6;
}

.mystery {
    background-color: #2c3e50;
}

.scifi {
    background-color: #16a085;
}

.children {
    background-color: #e84393;
}

.section {
    padding: 60px 50px;
}

.section h3 {
    font-size: 32px;
    margin-bottom: 40px;
    color: #1abc9c;
}


.books {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

