
@keyframes fadeInUp {
    from { 
        opacity: 0; 
        transform: translateY(30px); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0); 
    }
}

.item {
    background: #34495e;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #1abc9c;
    margin-bottom: 30px;
    animation: fadeInUp 0.5s ease-out;
}

.item:hover {
    transform: translateY(-8px);
}

.item a {
    text-decoration: none;
}

.item img {
    width: 100%;
    height: 380px;
    display: block;
    cursor: pointer;
}

.details {
    padding: 20px;
}

.details h3 {
    font-size: 18px;
    margin-bottom: 6px;
    color: #ecf0f1;
    cursor: pointer;
}

.details p {
    color: #e8cba0;
    font-size: 14px;
    margin-bottom: 12px;
}

.details a {
    text-decoration: none;
}

.details h3:hover {
    text-decoration: underline;
}

.details span {
    font-size: 22px;
    font-weight: 600;
    color: #1abc9c;
    display: block;
    margin-bottom: 15px;
}


#btn {
    width: 100%;
    padding: 10px;
    background: #1abc9c;
    color: #2c3e50;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}