.hero {
    text-align: center;
    padding: 100px 20px;
    background: #34495e;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 15px;
    color: #ecf0f1;
}

.hero p {
    font-size: 20px;
    color: #e8cba0;
}