header {
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #34495e;
    border-bottom: 1px solid #1abc9c;
}

header h1 {
    font-size: 28px;
    color: #1abc9c;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    color: #1abc9c;
}